# Muhammad Kanzoon Mekhfy Asyraq Rekza -- 19/442479/PA/19228
> ## Naive Bayes Classifier
### Data used --> [Kaggle: Social Network Ads](https://www.kaggle.com/rakeshrau/social-network-ads)

In [20]:
# Import Libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score

In [41]:
# Import data, show some of them
data = pd.read_csv('Social_Network_Ads.csv')
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [8]:
# Get label and feature
feature = data[['Gender', 'Age', 'EstimatedSalary']].values
label = data['Purchased'].values

# Encode Gender. Male = 1, Female = 0
encoder = LabelEncoder()
feature[:, 0] = encoder.fit_transform(feature[:, 0])

In [33]:
# Split dataset by 20% for validation
feature_train, feature_test, label_train, label_test = train_test_split(feature, label, test_size=0.2, random_state=0)

# Create scaler object
scaler = StandardScaler()

# Scale the features on training and the validation
feature_train = scaler.fit_transform(feature_train)
feature_test = scaler.transform(feature_test)

# Create the classifier and perform the training
classifier = GaussianNB()
classifier.fit(feature_train, label_train)

# Predict the validation dataset
label_pred = classifier.predict(feature_test)

# Calculate the confusion matrix and the testing accuracy
cm = confusion_matrix(label_test, label_pred)
ac = accuracy_score(label_test, label_pred)

In [40]:
#print the confusion matrix and the accuracy score
print('Confusion matrix = {}'.format(cm))
print('Testing Accuracy = {}'.format(ac))

Confusion matrix = [[56  2]
 [ 4 18]]
Testing Accuracy = 0.925